
/* MAIN CONTAINER CONTAING ALL THE CONTENT */

#main{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 65%;
    z-index: 0;
}

.homeMenu{
    z-index: 5;
    position: relative;
    width: 65%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignleft{
    display: flex;
    flex-direction: column;
}

/* .bracket{
    color: var(--yellow);
    font-size: 5rem;
    font-weight: 600;
} */

.animate{
    text-decoration: none;
}

.workLink{
    margin: 3rem 0;
}

h1{
    font-size: 5rem;
    color: #dddddd;
    font-family: 'poppins', sans-serif;
    letter-spacing: 0.5rem;
    transition: 0.6s linear;
}

h1:hover{
    transform: translateX(30px);
}

#about::before{content: "ABOUT";}
#work::before{content: "WORK";}
#skill::before{content: "SKILL";}

h1::before{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--yellow);
    width: 0;
    overflow: hidden;
    transition: 0.8s linear;
}

h1:hover::before{
    width: 100%;
}


.homeImg{
    position: absolute;
    height: 100vh;
    object-fit: contain;
    right: 5%;
    z-index: 2;
    filter: brightness(120%);
}


@media(max-width:1024px){

    #main{
        width: 80%;
    }

    .homeMenu{
        width: 80%;
    }

    .homeImg{
        right: -20%;
    }
    

}

@media(max-width:800px){

    .homeImg{
        right: -40%;
    }

    
}

@media(max-width:600px){
    .homeImg{
        right: -70%;
    }

    h1{
        font-size: 3.6rem;
    }
}

@media(max-width:480px){

    .homeImg{
        right: -90%;
    }
}


@media(max-width:380px){

    .homeImg{
        right: -120%;
    }
}