
/* MAIN CONTAINER CONTAING ALL THE CONTENT */

.homeContainer{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
}

.homeInfo{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.6em;
    width: 58%;
}

h1{display: inline-block;}

.bracket{
    color: var(--yellow);
    font-size: 5rem;
    font-weight: 600;
}

.homeLink{
    text-decoration: none;
    color: #dddddd;
}

.aboutType,
.workType,
.skillType{
    color: #cc7e5f;
    font-size: 3.6rem;;
    font-weight: 400;
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}
  
.aboutType,
.workType,
.skillType{
    display: inline-block;
    margin-right: 10px;
    border-right: 4px solid #a3a3a3;
    -webkit-animation: blink 0.5s step-end infinite alternate;
    animation: blink 0.5s step-end infinite alternate;
}

.homeImg{
    width: 40%;
}

@media(max-width:1024px){
    .homeContainer{
        padding-left: 2rem;
    }

    .homeInfo{
        font-size: 2em;
    }

    .aboutType,
    .workType,
    .skillType{
        font-size: 3rem;
    }

}

@media(max-width:800px){
    .homeInfo{
        width: 100%;
        text-align: center;
    }

    .homeImg{
        display: none;
    }
}

@media(max-width:480px) {
    .homeContainer{
        padding-left: 0;
    }

    .homeInfo{
        font-size: 1.4em;
    }

    .bracket{
        font-size: 3rem;
    }

    .aboutType,
    .workType,
    .skillType{
        font-size: 2.4rem;
    }
}