@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* ------------------------------------------------------------- */

.skills{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.sectionHeading{
    letter-spacing: 2rem;
}

.skillsRight{
    flex-grow: 1;
    padding: 1em;
}

.gridWrapper{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "design develop tools"
    "description description description"
    "description description description";
}

.design{
    grid-area: design;
}

.develop{
    grid-area: develop;
}

.tools{
    grid-area: tools;
}

.description{
    grid-area: description;
}

.design,
.develop,
.tools,
.description{
    background-color:#dddddd;
    color: black;
    padding: 0.2rem;
    text-align: center;
}

.design h2,
.develop h2,
.tools h2{
   cursor: pointer;
   padding: 0.8rem;
}

.description{
    font-family: 'Poppins', sans-serif;
    padding: 1.6rem;
}

.descriptionContent{
    display: none;
}

.developLanguage{
    margin: 1.8rem 0;
}

.description i{
    font-size: 2rem;
}

/* classes to be changed via js */
.activeTab{
    background-color: black;
    color: #dddddd;
    transition: 0.5s;
}

.active{
    display: block;
}

/* ---------------------------------------------------------- */
