@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* STYLES TO BE APPLIED THROUGHOUT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --yellow : #dbc608;
    --brown : #cc7e5f;
}

body{
    background-color: rgb(0, 0, 0);
    color: #ddd;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* DATE AND TIME */
.dateAndTime{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.4em;
    display: flex;
    z-index: 100;
}

.dateTimeDivider{
    height: 24px;
    width: 2px;
    background-color: var(--yellow) ;
    margin: 0 10px;
}

/* social btns */

.instagram,
.github,
.linkedin{
    position: absolute;
    bottom: 30px;
    left: 97%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;

    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ddd;
}

.linkedin{ bottom: 75px;}
.instagram{ bottom: 120px;}

.instagram i,
.github i,
.linkedin i{
    background-color: #ddd;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    margin-right: 0.6rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.instagram:hover{
    left: 90%;
}

.github:hover{
    left: 92%;
}

.linkedin:hover{
    left: 91%;
}

/* contact */
.contact{
    position: absolute;
    bottom: 2%;
    left:2%;
    /* transform: translateX(-50%); */
    display: flex;
    font-family: 'poppins', sans-serif;
    width: 310px;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.contact i{
    margin-right: 0.3rem;
}

/* --------------TOOL TIP EMAIL----------------- */

/* tooltip container */
.tooltip {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

/* tooltip text */
.tooltip .tool_tip_text {
    visibility: hidden;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%; /*125 default*/
    left: 50%; /*left 50%*/
    /* margin-left: -60px; */
    /* Fade in tooltip */
    opacity: 1;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tool_tip_text::after {
    content: "";
    position: absolute;
    top: 100%; /*100% default*/
    left: 50%; /* left 50% default*/
    /* transform:translateY(-50%); */
    /* transform: rotate(-90deg); */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(200, 200, 200) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tool_tip_text {
    visibility: visible;
    opacity: 1;
}



/* --------SECTION HEADING--------- */

.sectionHeading{
    writing-mode: vertical-lr;
    font-size: 20vh;
    letter-spacing: 1rem;
    transform: rotate(180deg);
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    padding-left: 50px;
    margin-bottom: 1.6rem;
}

/* ---------------buttons------------------ */

.btnWrapper{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.btn{
    position:relative;
    padding: 1rem 0;
    width: 30%;
    border:2px solid  #ddd;
    color: #ddd;
    text-decoration:none;
    transition: color 0.4s;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition:all 0.4s;
}

.btn:after{
    content:"";
    border:2px solid rgba(0,0,0,0);
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
}

.btn:hover{
    border:2px solid var(--yellow);
    letter-spacing: 5px;
    /* font-weight: 600; */
}

.btn:hover:after{  
    border:2px solid var(--yellow);
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
}

.template{
    display: none;
}

/* MEDIA ON WIDTH */

@media(max-width:1024px){
    .btnWrapper{
        width: 60%;
    }

    /* social icons */
    .instagram,
    .github,
    .linkedin{
        left: 96.5%;
        font-size: 0.7rem;
    }

    .instagram:hover{
        left: 88%;
    }
    
    .github:hover{
        left: 90%;
    }
    
    .linkedin:hover{
        left: 89%;
    }
}

@media(max-width:900px){
    /* section heading */
    .sectionHeading{
        padding-left: 0px;
    }

    .btnWrapper{
        width: 70%;
    }

    /* social icons */
    .instagram,
    .github,
    .linkedin{
        left: 96%;
    }

    .instagram:hover{
        left: 86%;
    }
    
    .github:hover{
        left: 88%;
    }
    
    .linkedin:hover{
        left: 87%;
    }
}

@media(max-width:800px){
    body{
        overflow: scroll;
    }

    .dateAndTime{
        top: 2%;
        left: 2%;
        z-index: 100;
        width: 12rem;
        font-family: 'poppins', sans-serif;
        font-size: 0.9rem;
    } 

    /* SECTION HEADING */
    .sectionHeading{
        writing-mode:inherit;
        font-size: 100px;
        letter-spacing: 1rem;
        transform: rotate(0deg);
        background-color:transparent;
        margin-top: 3rem;
    }

    .btnWrapper{
        margin-bottom: 2rem;
        margin-top: 3rem;
        /* background-color: brown; */
        width: 90%;
    }

    .btn{
        width: 40%;
    }

    /* CONTACT */
    .contact{
        display: none;
    }

    /* SOCIAL LINKS */
    .instagram,
    .linkedin,
    .github{
        display: none;
    }

    .tool_tip_text{
        display: none;
    }

    .template{
        display: block;
        font-family: 'poppins', sans-serif;
        margin-top: 5rem;
        /* background-color: lightseagreen; */
    }

    .templateContact{
        display: flex;
        flex-direction: column;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        /* background-color: lime; */
    }

    .templateContact i {
        margin-right: 0.6rem;
    }

    .templateSocial{
        width: 200px;
        margin: 2rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: lightcoral; */
    }

    .templateSocial i{
        background-color: white;
        color: black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}


@media(max-width:480px){
    

    .sectionHeading{
        font-size: 4.4rem;
        text-align: center;
    }

    .btnWrapper{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 120px;
    }

    .btn{
        padding: 0.8rem 0;
        width: 80%;
        height: auto;
    }
    
}


/* MEDIA ON HEIGHT */
@media(min-height:1000px) and (max-width:1050px){
    .sectionHeading{
        font-size: 160px;
    }

    .btnWrapper{
        width: 80%;
    }
}